services:
  - type: worker
    name: telegram-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: python bot_render.py
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: CHANNEL_ID
        value: "-1002233921310"
